svg {
    height: 100%;
    width: 100%;
}

#auditRatio {
    height: 300px;
    width: 200px;
    background-color: lightblue;
    padding-bottom: 70px;
    display: flex;
    flex-flow: row wrap;
    margin: auto;
}

#auditRatio p {
    margin-top: -80px;
    margin-right: 20px;
    padding-left: 10px;
    margin-left: 10px;
}

h2 {
    font-size: 20px;
    margin-left: 20px;
}

#auditRatio #ratioDone, #auditRatio #ratioReceived {
    margin-top: -60px;
    margin-right: 24px;
    margin-left: 0px;
}

#ratioTotal {
    margin-top: -30px;
    margin-left: 40px;
}

body{
    padding: 1em;
    background: #2B3134;
    color: #777;
    text-align: center;
    font-family: "Gill sans", sans-serif;
    width: 80%;
    margin: 0 auto;
  }
  h1{
    margin: 1em 0;
    border-bottom: 1px dashed;
    padding-bottom: 1em;
    font-weight: lighter;
  }
  p{
    font-style: italic;
  }
  .loader{
    margin: 0 0 2em;
    height: 100px;
    width: 20%;
    text-align: center;
    padding: 1em;
    margin: 0 auto 1em;
    display: inline-block;
    vertical-align: top;
  }
  
  /*
    Set the color of the icon
  */
  svg path,
  svg rect{
    fill: #FF6700;
  }

#bodyMain {
    display: none;
}
